{
  "mongoURI": "",
  "jwtSecret": "",
  "jwtOptions": { "expiresIn": 360000 },
  "defaultProfileFields": {
    "bio": "Hey there I'm using devconnect!"
  },
  "githubClientId": "",
  "githubClientSecret": ""
}
